body {
    pointer-events: none;
    -webkit-touch-callout: none;
}

footer>p.col-xs-12:first-child {
    margin-bottom: 0;
}

/* Lazyload Fad-In
    ============== */
img.lazy {
    opacity: 0;
}

img:not(.initial) {
    transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}
/* =================== */